$body-bg: #101820;
$main-color: #f2c763;
$second-color: #8a2a2b;
$txt-color: #fff;

$white: #fff;
$black: #000;

$header-height: 9.5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Rowdies", cursive;